footer {
  background: var(--verdeoscuro); /* Mismo fondo que el header */
  color: var(--beige); /* Mismo color de texto */
  padding: 20px;
  text-align: center;
  font-family: sans-serif;
  width: 100%;
  position: relative;
  bottom: 0;
}

.contact-section {
  max-width: 600px;
  margin: 0 auto;
  padding: 10px;
}

.contact-section h3 {
  font-size: 22px;
  margin-bottom: 10px;
  padding-bottom: 5px;
  display: inline-block;
  position: relative; /* Asegura que la línea se posicione correctamente */
}

.contact-section h3::after {
  content: "";
  display: block;
  width: 60px; /* Ajusta el ancho de la línea */
  height: 3px; /* Grosor de la línea */
  background-color: var(--verdeclaro); /* Color de la línea */
  margin: 5px auto 0; /* Centrar la línea debajo del texto */
}
