:root{
  --verdeoscuro: #152626;
  --verdeeclaro: #6B7334;
  --beige: #F2EFDC;
  --oscuro222: #222;
}

/* Clase para elementos visualmente ocultos pero accesibles para lectores de pantalla */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.elheader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--verdeoscuro);
  color: var(--beige); 
  padding: 10px 20px;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: sans-serif;
  box-sizing: border-box;
}

.logo-container {
  flex: 0 0 auto;
  display: flex; /* Para contener el h1 oculto y la imagen */
  align-items: center;
}

.logofc {
  height: 50px;
  width: auto;
  object-fit: contain;
}

/* Este contenedor ahora tiene un ancho exacto del 100% menos el ancho del logo */
.menu-container {
  flex: 1;
  display: flex;
  justify-content: center;
  margin-left: -50px; /* Compensa el espacio del logo para un centrado real */
}

.menu-items {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.menu-link {
  text-decoration: none;
  color: var(--beige);
  font-size: 18px;
  font-weight: bold;
  transition: all 0.3s ease;
  position: relative;
  padding: 5px 2px;
}

.menu-link::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, #c5ab00, #6B7334);
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.4s ease-out;
}

.menu-link:hover {
  color: var(--verdeeclaro);
}

.menu-link:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

/* Botón hamburguesa para menú móvil */
.menu-toggle {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
  cursor: pointer;
}

.menu-toggle span {
  height: 3px;
  width: 100%;
  background-color: var(--beige);
  border-radius: 10px;
}

/* Media queries para diseño responsive */
@media (max-width: 768px) {
  .elheader {
      padding: 10px;
  }
  
  .logo-container {
      flex: 1;
      display: flex;
      justify-content: flex-start;
  }
  
  .menu-toggle {
      display: flex;
      margin-left: auto;
  }
  
  .menu-container {
      position: absolute;
      top: 70px; /* Altura del header */
      left: 0;
      width: 100%;
      background: var(--verdeoscuro);
      margin-left: 0;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.5s ease;
  }
  
  .menu-container.active {
      max-height: 300px;
      box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  }
  
  .menu-items {
      flex-direction: column;
      align-items: center;
      padding: 10px 0;
  }
  
  .menu-link {
      padding: 10px;
  }
}

@media (max-width: 480px) {
  .logofc {
      height: 40px;
  }
}