<header class="elheader">
    <div class="logo-container">
        <img class="logofc" src="assets/logofaunacut.png" alt="Logo de FaunaCUt">
    </div>
    
    <div class="menu-toggle" (click)="toggleMenu()">
        <span></span>
        <span></span>
        <span></span>
    </div>
    
    <div class="menu-container" [ngClass]="{'active': menuActive}">
        <ul class="menu-items">
            <li><a routerLink="/" class="menu-link">Home</a></li>
            <li><a routerLink="/animales" class="menu-link">Animales</a></li>
            <li><a href="#footer" class="menu-link">Contacto</a></li>
        </ul>
    </div>
</header>