:root {
  --verdeoscuro: #152626;
  --verdeeclaro: #6B7334;
  --beige: #F2EFDC;
}

.resultados {
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(700px, 1fr));
  gap: 20px;
  padding: 20px;
}

.animal-card {
  background: var(--verdeoscuro);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(10, 4, 4, 0.218);
  text-align: left;
  padding: 15px;
  transition: transform 0.3s ease;
  aspect-ratio: 1/1; /* Hace que el alto sea igual al ancho */
  display: flex;
  flex-direction: column; /* Asegura que el contenido se distribuya verticalmente */
}


.animal-card:hover {
  transform: scale(1.05);
}

.animal-card img {
  width: 100%;
  height: 80%; /* La imagen ocupará la mitad de la tarjeta */
  max-height: 600px; /* Límite máximo de altura */
  object-fit: cover; /* Recorta la imagen para que mantenga su proporción sin deformarse */
  border-radius: 10px;
}


.animal-card h3 {
  font-size: 20px;
  margin: 10px 0;
  color: var(--beige);
}

.animal-card p {
  font-size: 16px;
  color: var(--verdeeclaro);
}

.loading, .error {
  text-align: center;
  padding: 20px;
  background-color: var(--beige);
  color: var(--beige);
  border-radius: 10px;
  margin: 20px;
}

.error {
  color: #ff1e34;
  background-color: #f8d7da;
}
.content{
  color: beige;
}